.logo {
  & .logo__img {
    width: 82px;
    padding: 2px 0;
    background-image: url("../../assets/svg/bamboo.svg");
    background-repeat: no-repeat;
    background-position: bottom 6px left 10px;
    text-align: center;
    border: 1.18841px solid #ffffff;
    @include logo_text;
    & .logo__text {
      color: $color-white;
      transition: all 0.5s ease;
      &:hover {
        color: transparent;
        -webkit-background-clip: text;
        background-image: $color-orange;
      }
    }
  }
}
