.menu {
  & .menu__item {
    &:not(:last-of-type) {
      margin-right: 58px;
    }
  }
}
.menu__item {
  & a {
    display: block;
    font-weight: 500;
    line-height: 140%;
    color: $color-white;
    transition: all 0.5s ease;
    &.active-link {
      color: transparent;
      -webkit-background-clip: text;
      background-image: $color-orange;
    }
    &:hover,
    &:active {
      color: transparent;
      -webkit-background-clip: text;
      background-image: $color-orange;
    }
  }
}
