.top {
    min-height: 390px;
    background: #283035 url(../../assets/images/GiantPanda.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 1000px) {
    .top {
        background: #283035 url(../../assets/images/panda_bg.png);
        background-repeat: no-repeat;
        background-position-x: -172px;
        background-size: cover;
    }

    .footer__navigation_donate {
        padding: 0px 0px 0 120px;
    }
}

@media (max-width: 980px) {
    .footer__navigation_donate {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .top {
        min-height: 335px;
        background-position-x: -272px;
    }
}

@media (max-width: 600px) {
    .top {
        min-height: 187px;
        background-position-x: -149px;
    }

    .footer__navigation_donate {
        padding: 0 0 0 10px;
    }
}


/* ...................PICK-FEED................... */

.pick-feed {
    padding: 36px 0 183px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}

.pick-feed__title {
    margin: 0 0 9px;
    color: #FFFFFF;
}

.pick-feed__text {
    margin: 0 0 45px;
    font-weight: 500;
    color: #FFFFFF;
}

.pick-feed__caption {
    margin: 0 0 60px;

    font-size: 3.6rem;
    line-height: 130%;
    color: #FE9013;
}

.donate__wrapper {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 40px 92px 62px 92px;
}

.donate__title {
    margin: 0 13px 20px 0;

    font-size: 4.8rem;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
}

.donate__subtitle {
    margin: 0 0 60px;

    font-size: 2.4rem;
    line-height: 120%;
    color: #333b41;
}

.donate-diet {
    padding-right: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 44px;
}

.donate-diet__day {
    margin-bottom: 56px;
}

.donate-diet__number {
    font-weight: 500;
    font-size: 7.2rem;
    line-height: 110%;
    text-align: center;
    color: #000000;
}

.donate-diet__text {
    margin: 0;
}

.donate-diet__icon {
    margin: 0 63px 106px 11px;

    background-image: url(../../assets/images/x_icon.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
}


/* ....PROGRESS-BAR.... */

.progress-bar {
    /* width: 100%; */
    margin-bottom: 50px;
}

.progress-bar__title {
    margin: 0 0 16px 4px;
}

.progress-bar__scale {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -2px;
}

.progress-bar__background {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    height: 27px;
    background: #404950;
    border-radius: 2px;
    margin-bottom: 12px;
}

.progress-bar__line {
    width: 915px;
    /* width: 93.75%; */
    height: 2px;
    background: #72828E;
    z-index: 1;
}

.progress-bar__input:checked,
.progress-bar__input:not(:checked) {
    display: none;
}

.progress-bar__input:checked+label,
.progress-bar__input:not(:checked)+label {
    display: inline-block;
    position: relative;
    color: #333B41;
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 140%;
    width: 65px;
    z-index: 1;
    cursor: pointer;
}

.progress-bar__input:checked+label:before,
.progress-bar__input:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 27px;
    bottom: 59px;

    width: 10px;
    height: 10px;
    background: #FFEE2E;
    border-radius: 50%;
    z-index: 1;
}

.progress-bar__input:checked+label:hover:before,
.progress-bar__input:not(:checked)+label:hover:before {
    background: #E47209;
}

.progress-bar__input:checked+label:after,
.progress-bar__input:not(:checked)+label:after {
    content: "";
    position: absolute;
    left: 12px;
    top: -47px;
    width: 40px;
    height: 40px;
    background: url('../../assets/images/roller_icon.png');
    transition: all 0.5s ease;
}

.progress-bar__input:not(:checked)+label:after {
    opacity: 0;
}

.progress-bar__input:checked+label,
.progress-bar__input:checked+label:hover,
.progress-bar__input:not(:checked)+label:hover {
    color: #FE9013;
}


/* ....AMOUNT.... */

.donate__amount {
    position: relative;
    margin: 0 auto 26px;
    display: block;
}

.donate__input {
    margin: auto;
    padding-left: 9px;
    display: flex;
    width: 268px;
    height: 52px;
    background: url(../../assets/icons/dollar.svg);
    background-repeat: no-repeat;
    background-position: center right+10px;
    border: 1px solid #929699;
    border-radius: 2px;
}

.donate__input[type="number"]::placeholder {
    color: #929699;
}

.donate__input:focus {
    background: url(../../assets/icons/dollar_active.svg);
    background-repeat: no-repeat;
    background-position: center right+10px;
    border: 1px solid #4B9200;
    color: #4B9200;
}

.donate__input:focus {
    outline: #4B9200;
}

.donate__input::-webkit-outer-spin-button,
.donate__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.donate__input {
    -moz-appearance: textfield;
}


/* ....OPTIONS.... */

.options {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.donate__options {
    margin: 0 30px 27px 0;
}

.options__input {
    display: none;
}

.options__input:checked+.options__label::after {
    transform: scale(1);
}

.options__label {
    display: inline-flex;
    position: relative;
}

.options__label::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #FE9013;
    border-radius: 50%;
    margin-right: 10px;
}

.options__label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background: #4B9200;
    border: 1px solid #4B9200;
    border-radius: 50%;
    transform: scale(0);
}

.pick-feed__button {
    text-align: center;
    margin-left: 6px;
    margin-bottom: 28px;
}

.pick-feed__social {
    text-align: center;
    color: #333B41;
    margin-left: 4px;
}

@media (max-width: 1280px) {
    .pick-feed {
        padding: 40px 0 32px;
    }

    .pick-feed__title {
        margin: 0 0 30px;
        padding-right: 160px;
    }

    .pick-feed__caption {
        margin: 0 0 40px;
    }

    .donate__wrapper {
        padding: 20px 44px 46px 47px;
    }

    .donate__title {
        margin: 0 13px 10px 0;
    }

    .donate-diet {
        padding-right: 20px;
    }


    /* ....PROGRESS-BAR.... */

    .progress-bar {
        margin: 0 auto 50px;
        max-width: 810px;
        /* width: 95.35%; */
        width: 810px;
    }

    .progress-bar__line {
        /* width: 96%; */
        width: 785px;
    }

    .progress-bar__scale {
        width: 845px;
    }

    .progress-bar__container:nth-child(1) {
        display: none;
    }

    .progress-bar__input:checked+label:before,
    .progress-bar__input:not(:checked)+label:before {
        left: 10px;
        top: -31px;
    }

    .progress-bar__input:checked+label:after,
    .progress-bar__input:not(:checked)+label:after {
        left: -5px;
    }


    .donate__amount {
        margin: 0 auto 28px;
    }

    .donate__options {
        margin: 0 38px 26px 0;
    }

    .pick-feed__button {
        margin-left: 0px;
    }
}


@media(max-width: 980px) {
    .pick-feed {
        padding: 30px 0 47px;
    }

    .pick-feed__title {
        margin: 0 0 20px;
        padding-right: 0px;
        font-size: 24px;
        line-height: 120%;
    }

    .pick-feed__text {
        margin: 0 0 30px;
    }

    .pick-feed__caption {
        margin: 0 0 28px;
    }

    .donate__wrapper {
        padding: 30px 0 32px 0;
    }

    .donate__title {
        margin: 0 0 22px 0;
    }

    .donate__subtitle {
        margin: 0 0 48px;
        text-align: center;
    }

    .donate-diet {
        margin-bottom: 36px;
        padding-left: 5px;
    }

    .donate-diet__day {
        margin-bottom: 55px;
    }

    /* ....PROGRESS-BAR.... */

    .progress-bar {
        /* width: 100%; */
        width: 570px;
        margin: 0 auto 51px;
    }

    .progress-bar__title {
        margin: 0 0 6px 10px;
    }

    .progress-bar__line {
        /* width: 87%; */
        width: 524px;
    }

    .progress-bar__scale {
        width: 584px;
    }

    .progress-bar__container:nth-child(n+1):nth-child(-n+3) {
        display: none;
    }

    .progress-bar__input:checked+label:before,
    .progress-bar__input:not(:checked)+label:before {
        bottom: 57px;
        left: 20px;
    }

    .progress-bar__input:checked+label:after,
    .progress-bar__input:not(:checked)+label:after {
        left: 5px;
        top: -45px;
    }
}



@media(max-width: 640px) {
    .progress-bar {
        width: 600px;
    }

    .progress-bar__scale {
        margin-left: 15px;
    }

    .donate__amount {
        margin: 0 auto 31px;
    }

    .donate__input {
        padding: 10px 58px 14px 5px;
        width: 180px;
        height: 42px;
    }

    .donate__options {
        margin: 0 36px 26px 0;
    }
}

@media(max-width: 639px) {
    .pick-feed {
        padding: 30px 0 22px;
    }

    .pick-feed__text {
        margin: 0px 0 25px;
    }

    .pick-feed__caption {
        margin: 0 0 30px;
        font-size: 2.4rem;
        line-height: 120%;
    }

    .donate__wrapper {
        padding: 20px 0 20px 0;
    }

    .donate__title {
        margin: 0 0 10px 0;
        font-size: 24px;
        line-height: 120%;
    }

    .donate__subtitle {
        margin: 0 0 10px;
        font-size: 1.6rem;
        line-height: 140%;
    }

    .donate-diet {
        padding: 0;
        margin-bottom: 0;
    }

    .donate-diet__day {
        margin-bottom: 27px;
    }

    .donate-diet__number {
        font-size: 4.3rem;
        line-height: 90%;
    }

    .donate-diet__text {
        font-size: 0.9rem;
    }

    .donate-diet__icon {
        margin: 0 31px 56px 5px;
        background-size: 55%;
    }

    .donate-diet__image img {
        width: 160px;
        height: 138px;
    }

    /* ....PROGRESS-BAR.... */

    .progress-bar {
        width: 300px;
        margin: 0 auto 24px;
    }

    .progress-bar__title {
        margin: 0px 0 7px 0px;
    }

    .progress-bar__background {
        margin-bottom: 3px;
        height: 13.5px;
        border-radius: 1px;
    }

    .progress-bar__line {
        width: 262px;
    }

    .progress-bar__scale {
        width: 292px;
        margin-left: 1px;
    }

    .progress-bar__input:checked+label,
    .progress-bar__input:not(:checked)+label {
        font-size: 1.3rem;
        background-size: 5px 10px;
        width: 32px;
        padding-left: 6px;
    }

    .progress-bar__input:checked+label:before,
    .progress-bar__input:not(:checked)+label:before {
        left: 16px;
        top: -16px;
        width: 5px;
        height: 5px;
    }

    .progress-bar__input:checked+label:after,
    .progress-bar__input:not(:checked)+label:after {
        left: 8.5px;
        top: -23px;
        width: 20px;
        height: 20px;
        background-size: cover;
    }


    .donate__amount {
        margin: 0px auto 25px;
    }

    .donate__options {
        margin: 0 37px 25px 0;
    }

    .pick-feed__social {
        margin-left: -1px;
    }
}