main {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

main .container {
    padding: 40px 0 180px;
}

main .content {
    color: #fff;
}

main .content h3 {
    padding-bottom: 10px;
}

main .content p {
    font-weight: 500;
}

main .content~h3 {
    color: #FE9013;
    padding: 40px 0 60px;
}

main .pick-container {
    height: 964px;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 40px 92px 62px;
}

main .pick-container .wrapper {
    width: 976px;
    height: 862px;
}

main .pick-container .wrapper h2 {
    color: #FE9013;
    text-align: center;
}

main .wrapper .panda-widget {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .pick-container .wrapper .panda-widget .no-of-pandas {
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

main .pick-container .wrapper .panda-widget .x-icon {
    margin-left: 11px;
    margin-right: 60px;
}

input[type='submit'] {
    background: #F1F3F2 !important;
    color: #333B41 !important;
    border: 1px solid #333B41 !important;
}

input[type="submit"]:hover {
    background: linear-gradient(113.96deg, #FE9013 1.49%, #F9804B 101.44%) !important;
    color: #f1f3f2 !important;
}