html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", Verdana, serif;
  font-size: 1.6rem;
  font-style: normal;
  //! for fixed layout
  min-width: 1240px;
  // background-color: black;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  //! for fixed layout
  max-width: 1240px;
  padding: 0 40px;
}

// FLEX
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.centered-text {
  text-align: center;
}
