.favorite-animal-section {
  padding: 86px 0 100px;
  background: url("../../assets/images/giant_panda1.jpg") center no-repeat;
  background-position: center -80px;
  background-size: 100%;
  & .container {
    display: flex;
    justify-content: end;
  }
}
.favorite-animal-section__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 500px;
  &::before {
    content: "";
    position: absolute;
    width: 465px;
    height: 465px;
    bottom: 123px;
    right: 110px;
    z-index: 1;
    border-radius: 50%;
    background: $color-orange;
  }
  & h2 {
    color: $color-white;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-transform: uppercase;
    z-index: 2;
    margin-bottom: 60px;
    & span {
      color: $color-yellow;
    }
  }
}
