.footer {
  width: 100%;
  height: 443px;
  padding: 40px 0 50px 0;
  color: $color-white;
  background: $color-black-footer;
  & .container {
    height: 100%;
  }
  & .button-container {
    justify-content: flex-start;
  }
}
.footer__menu {
  width: 364px;
}
.footer-container {
  height: 100%;
}
.left-block {
  width: 760px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  & .logo {
    margin-bottom: 30px;
  }
}
.right-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: end;
}
.bottom-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.designed-by-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: $color-white;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  p {
    margin: 9px 0 0;
  }
}
