$color-black: black;
$color-black-footer: #111115;
$color-white: white;
$color-green: #4b9200;
// $color-orange: #f9804b;
$color-orange-light: #fe9013;
$color-yellow: #ffee2e;
$color-red: #d31414;
$color-black-blue: #333b41;
$color-gray: #767474;
$color-gray-smoky: #ababab;
$color-gray-smoky-light: #bdbdbd;
$color-gray-light: #f1f3f2;
$color-frosted-glass-white: #fdfdff;

// gradients
$color-orange: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
$color-orange-grad: linear-gradient(
  315.75deg,
  rgba(254, 210, 144, 0.7) 30.06%,
  #febdab 100.95%,
  rgba(254, 210, 144, 0.7) 106.36%
);
$color-pink-gradient: linear-gradient(
  315.75deg,
  rgba(254, 189, 171, 0.74) 30.06%,
  rgba(243, 169, 248, 0.66) 50.74%,
  #e0d8f0 80.49%,
  #eaf7fe 127.9%,
  #eaf7fe 149.54%
);
$gradient-feed-friend: linear-gradient(
    315.75deg,
    rgba(254, 210, 144, 0.7) 30.06%,
    #febdab 100.95%,
    rgba(254, 210, 144, 0.7) 106.36%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  );
