/* Page Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    /* Colors */
    --green: #4B9200;
    --orange: #F9804B;
    --yellow: #FFEE2E;
    --orange-grad: #FED290;
    --pink-grad: #FEBDAB;
    --red: #D31414;
    --black_blue: #333B41;
    --gray: #767474;
    --gray_smoky: #ABABAB;
    --light_gray: #F1F2F3;
    --frosted-glass: #FDFDFF;
    /* Fonts */
    --font-family: 'Roboto', sans-serif;
}

/* Default Styles */
body {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: var(--black_blue);
}

header,
main,
footer {
    max-width: 100%;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 114px;
    line-height: 80%;
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
}

h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
}

h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}

a {
    text-decoration: none;
    color: #fff;
}

.subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}

.small-paragraph {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
}

.btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
}

.container {
    max-width: 1160px;
    margin: auto;
}

/* Buttons Style */
.btn-rounded {
    width: 298px;
    height: 54px;
    border-radius: 25px;
    color: #fff;
    border: none;
    ;
}

.btn-rounded:active,
.btn-square:active,
.btn-light:active,
.btn-dark:active {
    background: var(--green) !important;
}

.btn-rounded:disabled,
.btn-square:disabled {
    background-color: var(--gray);
}

.btn-square {
    width: 298px;
    height: 54px;
    border-radius: 5px;
    color: #fff;
    border: none;
}

.btn-light {
    background-color: #FE9013;
    transition: all 0.5s ease-in-out;
}

.btn-light:hover {
    background-color: #F9804B;
    /* transform: scale(1.05); */
}

.btn-dark {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    transition: all 0.5s ease-in-out;
}

.btn-dark:hover {
    background: linear-gradient(90deg, #FE9013 19.49%, #F9804B 101.44%);
    /* transform: scale(1.05); */
}

/* Header Styles */
header {
    /* height: 80px; */
    left: 0px;
    top: 0px;
    background: #000000;
    backdrop-filter: blur(2px);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    height: 80px;
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid white;
    max-width: 82px;
    max-height: 52px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    margin-right: 63px;
    padding: 5px 0;
}

.logo::before {
    content: '';
    position: absolute;
    display: block;
    width: 7.03px;
    height: 20.98px;
    left: 12.5%;
    top: 44%;
    background-image: url(assets/icons/bamboo.svg);
    color: #FFFFFF;
}

.logo h1,
.logo div {
    font-size: 19px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.designed-by a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    transition: all 0.2s linear 0s;
}

.designed-by a:hover {
    color: #F9804B;
}

a.active {
    color: #F9804B;
}

.navbar-links {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 58px;
}

.nav-item {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s linear 0s;
    font-weight: 500;
}



.nav-item:hover {
    color: #F9804B;
}

/* Main Content Styles */
/*  */

main .section1-bg {
    background: #283035 url('assets/images/Giant\ Panda.png') no-repeat center/cover;
    padding: 86px 0 100px;
    background-position-y: -80px;
}

.watch-you .ellipse-container {
    display: flex;
    justify-content: end;
}

.watch-you .ellipse-container .title-block {
    width: 500.31px;
    height: 514px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.watch-you .ellipse-container .title-block .title {
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    height: 400px;
    color: #FFFFFF;
}

.watch-you .ellipse-container .title-block .title::before {
    content: "";
    width: 465px;
    height: 465px;
    border-radius: 465px;
    position: absolute;
    left: -73px;
    top: -74px;
    z-index: -1;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}



main .section2 {
    position: relative;
    display: flex;
    height: 403px;
    width: 1161px;
}

main .section2 .img-container {
    width: 609px;
    height: 403px;
    background: url(assets/images/bamboo-cap.png);
    backdrop-filter: blur(2px);
}

main .section2 .section-content {
    width: 465px;
    margin-left: 87px;
}

main .section2 .section-content h2 {
    margin-bottom: 20px;
}

main .section2 .section-content .subtitle {
    margin-top: 54px;
    margin-bottom: 34px;
}

main section {
    position: relative;
}

main .section2_wrapper {
    width: 100%;
    background-image: url(assets/images/flower_foto1.png);
    background-repeat: no-repeat;
    background-position: right 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-top: 140px;
    padding-bottom: 180px;
}

main .animals_wrapper {
    max-width: 100%;
    z-index: 1;
    background-image: url(assets/images/palm_foto.png), url(assets/images/strelitzia\ 1.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;
}

main .animals_section {
    display: flex;
    flex-direction: column;
    width: 1158px;
    height: 872px;
}

main .slider_block {
    position: relative;
    width: 100%;
    margin-bottom: 7%;
}

main .row1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.65%;
}

main .row2 {
    display: flex;
    justify-content: space-between;
}

main .animals-container {
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    width: 366px;
    height: 426px;
    border: 1px solid #F9804B;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.2s linear 0s;
}

main .animal-card {
    width: 100%;
    height: 366px;
    margin: auto;
}


main .animal-caption {
    background-color: #FFFFFF;
    margin-left: 0.7%;
    margin-right: 0.7%;
    padding-bottom: 2.7%;
    margin-top: -2%;
    transition: all 0.7s linear 0s;
}

main .animals-container .animal-card img {
    transition: all 0.7s linear 0s;
}

main .animals-container:hover .animal-card img {
    transform: scale(1.1);
}

main .animals-container:hover .animal-caption {
    margin-top: -350px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

main .animals-container:hover .animal-caption h4 {
    color: #fff;
}

main .slider_block .btn {
    margin-left: 3%;
    margin-top: 2.5%;
    margin-bottom: -1%;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    width: 99.99%;
}

.location {
    margin-left: 3.5%;
}

.banana {
    position: relative;
}

.banana:before {
    content: '';
    position: absolute;
    background-image: url(./assets/icons/banana-bamboo_icon.svg);
    background-repeat: no-repeat;
    width: 10%;
    height: 60%;
    top: 18.5%;
    left: 88.5%;
}

.meat-fish {
    position: relative;
}

.meat-fish:before {
    content: '';
    position: absolute;
    background-image: url(./assets/icons/meet-fish_icon.svg);
    background-repeat: no-repeat;
    width: 15%;
    height: 60%;
    top: 16%;
    left: 85%;
}

.right-ellipse {
    position: absolute;
    width: 62px;
    height: 62px;
    right: -80px;
    top: 404px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    transition: all 0.2s linear 0s;
}

.right-ellipse:before {
    content: '';
    position: absolute;
    background-image: url(assets/icons/Vector\ \(3\).svg);
    background-repeat: no-repeat;
    width: 30%;
    height: 20%;
    right: 22px;
    top: 26px;
    z-index: 2;
}

.right-ellipse:hover {
    margin-right: -20px;
    cursor: pointer;
}

.left-ellipse {
    position: absolute;
    width: 62px;
    height: 62px;
    left: -82px;
    top: 404px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    transition: all 0.2s linear 0s;
}

.left-ellipse:before {
    content: '';
    position: absolute;
    background-image: url(assets/icons/Vector\ \(4\).svg);
    background-repeat: no-repeat;
    width: 30%;
    height: 20%;
    left: 20px;
    top: 26px;
    z-index: 2;
}

.left-ellipse:hover {
    margin-left: -20px;
    cursor: pointer;
}

.right-ellipse:active,
.left-ellipse:active {
    background: var(--green);
}

main .section4 {
    height: 1004px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding-top: 69px;
    padding-bottom: 100px;
}

main .section4 .container {
    height: 835px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding-top: 41px;
    padding-left: px;
    padding-bottom: 59px;
}

main .section4 .container .subtitle {
    margin-top: 30px;
    margin-bottom: 40px;
    color: #333B41;
    ;
}

main .section4 .container h4 {
    font-weight: 600;
    color: #333B41;
    margin-bottom: 10px;
}

main .section4 .container p {
    width: 870px;
    margin-bottom: 60px;
}

main .section4 .container p a {
    color: #333B41;
    border-bottom: 2px solid #F9804B;
}

main .section4 .container .row {
    display: flex;
    margin-left: 198px;
    margin-right: 198px;
}

main .section4 .container .widget {
    width: 168px;
    height: 244px;
    border-radius: 5px;
}

main .section4 .container .widget p {
    width: 100%;
}

main .section4 .container .arrow {
    width: 69px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 64px;

}

main .section4 .container .widget div {
    width: 168px;
    height: 168px;
    border-radius: 5px;
    border: 1px solid #FE9013;
    background: #fff url(./assets/icons/pay.svg) no-repeat center center;
}

main .section4 .container .widget .zoo {
    background: #fff url(./assets/icons/zoo.svg) no-repeat center center;
}

main .section4 .container .widget .monkey {
    background: #fff url(./assets/icons/monkey.svg) no-repeat center center;
}

main .section4 .container .widget p {
    margin-top: 30px;
}

main .section5-wrapper {
    position: relative;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 180px;
    background-image: url(assets/images/leav_foto.png);
    background-repeat: no-repeat;
    background-position: right 126%;
}

main .testimonial-list {
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
}

main .testimonial-item {
    color: #767474;
    width: 266px;
    height: 391px;
    border-radius: 20px;
    padding-top: 15px;
    padding-left: 16px;
    padding-right: 14px;
    padding-bottom: 19px;
    background-color: #f1f3f2;
    position: relative;
}

main .testimonial-item:nth-child(2) {
    margin-right: 29px;
    margin-left: 30px;
}

main .testimonial-item:last-child {
    margin-right: 0;
    margin-left: 32px;
}

main .testimonial-item::before {
    content: "";
    background-image: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
    border-radius: 20px;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    position: absolute;
    z-index: -1;
}


main .testimonial-item .content p {
    color: #bdbdbd;
}

main .slider_container {
    width: 52%;
    margin: 0 auto;
    margin-bottom: 21px;
    margin-top: 15px;
}

main .slider_testimonials {
    width: 599px;
    height: 8px;
    -webkit-appearance: none;
    appearance: none;
    background: #F5F7F6;
    border-radius: 5px;
    border: 1px solid #fec1b1;
}

main .slider_testimonials::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #fd8f12;
    width: 115.19px;
    height: 8px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: #111115;
    padding-top: 42px;
    padding-bottom: 50px;
}

footer .socials {
    width: 100px;
}

footer .socials a {
    transition: all 0.2s linear 0s;
}

footer .socials a:hover {
    margin-left: 15px;
}

footer .subtitle {
    color: #fff;
    margin-bottom: 14px;
}

footer input[type="email"] {
    width: 228px;
    background: transparent;
    color: #bdbdbd;
    border: none;
    border: 1px solid #F9804B;
    outline: none;
    height: 42px;
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    border-radius: 2px;
    margin-right: 5px;
}

footer input[type="submit"] {
    width: 129px;
    background: #F1F3F2;
    height: 42px;
    border: 1px solid var(--green);
    border-radius: 5px;
    color: var(--green);
    border: none;
    outline: none;
    transition: all 0.5s ease-in-out;
}

footer input[type="submit"]:active {
    border: 1px solid var(--green);
    color: var(--green);
}


footer input[type="submit"]:hover {
    background: linear-gradient(113.96deg, #FE9013 1.49%, #F9804B 101.44%);
    color: #f1f3f2;
    border: 2px solid transparent;
    transform: scale(1.05);
    will-change: transform;

}

footer .content2 {
    margin-top: 36px;
    margin-bottom: 44px;
}

footer .content3 .socials {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 0 */
}


footer .designed-by,
footer nav,
footer .content3 .socials{
    align-self: flex-end;
}

footer nav {
    margin-left: 298px;
}

footer .designed-by a {
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #ffffff94;
    ;
}