.backstage-section {
  background: url("../../assets/images/flower_foto1.png") no-repeat top 12px right -93px;
  & .backstage-section__content {
    padding: 140px 0 176px 0;
  }
}
.backstage-section__content {
  align-items: flex-start;
}
.backstage-section__img-content {
  & img {
    max-width: 100%;
  }
}
.backstage-section__text-content {
  max-width: 465px;
  @include font_16;
  color: $color-black-blue;
  margin-left: 50px;
  & h2 {
    @include font_48;
    margin-bottom: 20px;
  }
  & p {
    line-height: 130%;
    &:first-of-type {
      margin-bottom: 54px;
    }
    &:last-of-type {
      line-height: 140%;
    }
  }
  & h3 {
    @include font_24;
    margin-bottom: 34px;
  }
}
