.header {
  background-color: $color-black;
}
.header__container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__menu,
.header__logo {
  margin-right: 63px;
}
