.pick-feed-section {
  background: $gradient-feed-friend;
  padding: 40px 0px 180px 0px;
}
.pick-feed-section__title {
  @include font_36;
  font-size: 35px;
  color: $color-white;
  margin-bottom: 9px;
}
.pick-feed-section__text {
  @include font_16_bold;
  color: $color-white;
  margin-bottom: 45px;
}
.pick-feed-section__caption {
  @include font_36;
  color: $color-orange-light;
  margin-bottom: 60px;
}
.pick-feed-section__content {
  border-radius: 20px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  padding: 40px 92px 62px 92px;
  color: $color-black-blue;
}
.donate__title {
  @include font_48;
  color: $color-orange-light;
  margin-bottom: 20px;
}
.donate__subtitle {
  @include font_24;
  // color: $color-orange-light;
  margin-bottom: 107px;
}
