.subscribe-form {
  & .flex {
    margin-top: 13px;
  }
  & .subscribe-form__input {
    margin-right: 10px;
  }
}
.subscribe-form__label {
  @include font_24;
}

.subscribe-form__input {
  width: 228px;
  height: 42px;
  border: solid 0.7px $color-orange-light;
  border-radius: 2px;
  padding-left: 10px;
  color: $color-gray-smoky-light;
  background-color: $color-black-footer;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  &:focus:required:invalid,
  &:focus:required:invalid ~ .submit {
    border: 1px solid $color-red;
    color: $color-red;
  }
  &:focus:required,
  &:focus:required ~ .subscribe-form__button {
    border: 1px solid $color-green;
    color: $color-green;
  }
}
.subscribe-form__button {
  width: 129px;
  height: 42px;
  color: $color-black;
  border: 1px solid $color-black-blue;
  background: $color-gray-light;
  border-radius: 5px;
}